* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
}

.buttonflex {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.completeflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
    padding: 10px;
    font-size: small;
}

.button {
    padding: 10px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(138, 200, 255);
    font-size: small;
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}

.button:hover {
    cursor: pointer;
    opacity: 1;
}

.cancel {
    background-color: rgb(255, 113, 142)!important;
}

label {
    display: block;
    float: left;
}